<div class="container  side p-3 my-3 " >
    <h1>WELCOME TO RECEPTIONIST PAGE</h1>
    <ul>
        <button type="submit" [routerLink]="['/login']" class="btn btn-info">HOME PAGE</button> 
        <button type="submit" [routerLink]="['/add-appointment']" class="btn btn-info">ADD APPOINTMENT</button> 
        <button type="submit" [routerLink]="['/view-appointment']" class="btn btn-info" >VIEW APPOINTMENTS</button>
        <button type="submit" [routerLink]="['/login']" class="btn btn-info" >LOG-OUT</button>
    </ul>
        




    
    
    </div>